@model IEnumerable<Core_Istat.Models.Regione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    Cerca per Ripartizione <input type="text" name="searchRipartizione" />
    <input type="submit" value="Cerca" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denominazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRipartizioneNavigation.Denominazione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denominazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRipartizioneNavigation.Denominazione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="ElencoProvinciePerRegione" asp-route-id="@item.Id">Elenco Provincie</a>
            </td>
        </tr>
}
    </tbody>
</table>
